---
const {
  frontmatter: { title, description, pubDate, image, author, tags },
} = Astro.props;
---

<div>
  <h1>{title}</h1>

  {
    tags.map((tag: String) => {
      return <a href={`https://astro.build/${tag}`}>{tag}</a>;
    })
  };

  <p>{description}</p>

  <p>{pubDate}</p>

  <img src={image.url} />

  <p>{author}</p>
</div>

<div>
  <a href="https://astro.build">Astro</a>

  Hecho con amor por <a href="https://astro.build">Astro</a>
</div>
